body, iframe {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
}

.iframe-container {
  width: 100vw;
}

.iframe-container:nth-of-type(1) {
  display: flex;
}

.iframe-container:nth-of-type(1) iframe {
  width: 100%;
  height: 80vh;
  border: none;
}

.iframe-container:nth-of-type(2) iframe {
  width: 100%;
  height: 40vh;
  border: none;
}

.video-overlay {
  width: 100vw;
  height: 80vh;
  position: absolute;
  background-color: #00000080;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  align-items: center;
}

.video-overlay h1 {
  top: 150px;
  text-align: center;
  color: white;
  font-size: 73px;
}

.video-overlay button {
  padding: 5px 10px;
  border: 4px white solid;
  font-size: 24px;
  color: white;
  background: transparent;
}

.distance-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.distance-container h2 {
  font-size: 32px;
}

.distance {
  display: table;
  width: 100%;
  clear: both;
  margin-bottom: 20px;
  padding: 10px;
}

.distance div {
  width: 40%;
}

.distance img {
  max-width: 100%;
  height: auto;
}

.distance p {
  width: 55%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.distance-image {
  filter: saturate(100%);
}

.distance-image:hover {
  filter: saturate(200%);
}

.distance:nth-child(odd) div {
  float: left;
}

.distance:nth-child(even) div {
  float: right;
}

.map-container {
  margin: 0 auto;
  max-width: 1000px;
}

.map-container iframe {
  width: 100%;
}
